:root {
  font-family: "Roboto", system-ui, Arial;

  --font-size-multiplier: 1;
  --font-size-tiny: calc(0.6rem * var(--font-size-multiplier));
  --font-size-small: calc(0.8rem * var(--font-size-multiplier));
  --font-size-medium: calc(1rem * var(--font-size-multiplier));
  --font-size-big: calc(1.2rem * var(--font-size-multiplier));
  --font-size-large: calc(1.5rem * var(--font-size-multiplier));
  --font-size-huge: calc(1.8rem * var(--font-size-multiplier));
  --font-size-enormous: calc(2.1rem * var(--font-size-multiplier));

  --spacing-multiplier: 1;
  --spacing-tiny: calc(5px * var(--spacing-multiplier));
  --spacing-small: calc(8px * var(--spacing-multiplier));
  --spacing-medium: calc(12px * var(--spacing-multiplier));
  --spacing-big: calc(16px * var(--spacing-multiplier));
  --spacing-large: calc(20px * var(--spacing-multiplier));
  --spacing-huge: calc(24px * var(--spacing-multiplier));
  --spacing-enormous: calc(28px * var(--spacing-multiplier));

  // ===== Transition =====
  --transition-duration-multiplier-config: 1;
  --transition-duration-multiplier: var(
    --transition-duration-multiplier-config
  );
  --transition-duration-short: calc(
    100ms * var(--transition-duration-multiplier)
  );
  --transition-duration-medium: calc(
    200ms * var(--transition-duration-multiplier)
  );
  --transition-duration-long: calc(
    300ms * var(--transition-duration-multiplier)
  );
  --transition-duration-delayed: calc(
    400ms * var(--transition-duration-multiplier)
  );
  --transition-duration-calm: calc(
    2000ms * var(--transition-duration-multiplier)
  );
  --transition-duration-splashscreen: 500ms;
  --transition-timing-bounce: cubic-bezier(0.5, 1.25, 0.55, 1.05);
  --transition-timing-jump: cubic-bezier(0.35, 1, 0.5, 1);
}

/* Some elements do not inherit font-family by default */
button,
input,
select {
  font-family: inherit;
}

body {
  margin: 0;
}

.screen {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
